<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>Arshit's Youtube</title>
</head>
<body>
  <header class="header">
    <h1> It's my player not your youtube</h1>
    <form class="search-bar">
      <input class="search-input" type="search" placeholder="Search" aria-label="Search" />
      <button type="button">Search</button>
    </form>
    
  </header>
  </div>
  <div class="videos">
    <div class="w3-container">
      <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black"><img src="https://img.youtube.com/vi/{{vid1.Y_id}}/maxresdefault.jpg" alt="" /></button>
    
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{vid1.Y_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="video-bottom-section">
          <a href="#">
            <img class="channel-icon" src="https://yt3.ggpht.com/ytc/AAUvwnh53ZRIGnyzC28QrfuggCINb3cfNbNWo4Uc6qR9=s48-c-k-c0x00ffffff-no-rj" />
          </a>
          <div class="video-details">
            <a href="#" class="video-title">Video Title</a>
            <a href="#" class="video-channel-name">Channel Name</a>
            <div class="video-metadata">
              <span>12K views</span>
              •
              <span>1 week ago</span>
            </div>
          </div>
        </div>
      <article class="video-container">
        <div class="w3-container">
          <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-black"><img src="https://img.youtube.com/vi/46cXFUzR9XM/maxresdefault.jpg" alt="" /></button>
        
          <div id="id02" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container">
                <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/46cXFUzR9XM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="video-bottom-section">
          <a href="#">
            <img class="channel-icon" src="https://yt3.ggpht.com/ytc/AAUvwnh53ZRIGnyzC28QrfuggCINb3cfNbNWo4Uc6qR9=s48-c-k-c0x00ffffff-no-rj" />
          </a>
          
          <div class="video-details">
            <a href="#" class="video-title">Video Title</a>
            <a href="#" class="video-channel-name">Channel Name</a>
            <div class="video-metadata">
              <span>12K views</span>
              •
              <span>1 week ago</span>
            </div>
          </div>
        </div>
      </article>
      <article class="video-container">
        <div class="w3-container">
          <button onclick="document.getElementById('id03').style.display='block'" class="w3-button w3-black"><img src="https://img.youtube.com/vi/d2na6sCyM5Q/maxresdefault.jpg" alt="" /></button>
        
          <div id="id03" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container">
                <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/d2na6sCyM5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="video-bottom-section">
          <a href="#">
            <img class="channel-icon" src="https://yt3.ggpht.com/ytc/AAUvwnhESPVEatju_1yE-03-KLeSrnSLc5yy0RcvhPd5Lg=s48-c-k-c0x00ffffff-no-rj" />
          </a>
          <div class="video-details">
            <a href="#" class="video-title">Video Title</a>
            <a href="#" class="video-channel-name">Channel Name</a>
            <div class="video-metadata">
              <span>12K views</span>
              •
              <span>1 week ago</span>
            </div>
          </div>
        </div>
      </article>
      <article class="video-container">
        <div class="w3-container">
          <button onclick="document.getElementById('id04').style.display='block'" class="w3-button w3-black"><img src="https://img.youtube.com/vi/2Ji-clqUYnA/maxresdefault.jpg" alt="" /></button>
        
          <div id="id04" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container">
                <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2Ji-clqUYnA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="video-bottom-section">
          <a href="#">
            <img class="channel-icon" src="https://yt3.ggpht.com/ytc/AAUvwniaHN7MZyFEiNvdHuKMzIWnDF604Z2--O4GCMq-FA=s48-c-k-c0x00ffffff-no-rj" />
          </a>
          <div class="video-details">
            <a href="#" class="video-title">Video Title</a>
            <a href="#" class="video-channel-name">Channel Name</a>
            <div class="video-metadata">
              <span>12K views</span>
              •
              <span>1 week ago</span>
            </div>
          </div>
        </div>
      </article>
      <article class="video-container">
        <div class="w3-container">
          <button onclick="document.getElementById('id05').style.display='block'" class="w3-button w3-black"><img src="https://img.youtube.com/vi/3PHXvlpOkf4/maxresdefault.jpg" alt="" /></button>
        
          <div id="id05" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container">
                <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3PHXvlpOkf4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="video-bottom-section">
          <a href="#">
            <img class="channel-icon" src="https://yt3.ggpht.com/ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=s48-c-k-c0x00ffffff-no-rj" />
          </a>
          <div class="video-details">
            <a href="#" class="video-title">Video Title</a>
            <a href="#" class="video-channel-name">Channel Name</a>
            <div class="video-metadata">
              <span>12K views</span>
              •
              <span>1 week ago</span>
            </div>
          </div>
        </div>
      </article>
    </section>
    </section>
  </div>
</body>
</html>